@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tektur:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calc-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 0 auto;
}

.screen {
  font-family: "Tektur", sans-serif;
}

.buttons-container {
  display: flex;
}

.left-buttons,
.numbers-container,
.operands-container {
  display: flex;
  flex-direction: column;
}
